<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Epichurco.Benj8RIDES.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Epichurco.Benj8RIDES.Properties.Settings>
            <setting name="PathDefecto" serializeAs="String">
                <value>C:\Users\guido\Desktop\CerverceriaSabai\</value>
            </setting>
            <setting name="DeFacturas" serializeAs="String">
                <value>formatosfacturas</value>
            </setting>
            <setting name="DeRides" serializeAs="String">
                <value>formatosrides</value>
            </setting>
            <setting name="EsteFormatoFacturaCabecera" serializeAs="String">
                <value>factura-1-formato-cabecera.pdf</value>
            </setting>
            <setting name="EsteFormatoRide" serializeAs="String">
                <value>ride-1-formato.pdf</value>
            </setting>
            <setting name="FacturasGeneradas" serializeAs="String">
                <value>generadasfacturas</value>
            </setting>
            <setting name="RidesGenerados" serializeAs="String">
                <value>generadosrides</value>
            </setting>
            <setting name="CarpetaTemporal" serializeAs="String">
                <value>temporal</value>
            </setting>
            <setting name="ArchivoTemporal" serializeAs="String">
                <value>archivotemporal.pdf</value>
            </setting>
            <setting name="EsteFormatoFacturaDetalles" serializeAs="String">
                <value>factura-1-formato-detalles.pdf</value>
            </setting>
            <setting name="EsteFormatoFacturaTotales" serializeAs="String">
                <value>factura-1-formato-totales.pdf</value>
            </setting>
        </Epichurco.Benj8RIDES.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="titulos_columnas" value="COMPROBANTE;NUMERO;RUC_EMISOR;RAZON_SOCIAL;FECHA;FECHA_AUTORIZACION;TIPO_EMISION;DOC_SUSTENTO;IDENTIFICACION_RECEPTOR;CLAVE_ACCESO;NUMERO_AUTORIZACION;TOTAL" />
    <add key="titulos_excel" value="archivo,tipo,cod_doc,establecimiento,pto_emision,secuencial,ruc,clave_acceso,razon_social,nombre_comercial,fecha_emision,total_sin_impuetos,total_descuento,total_con_impuestos,propina,importe_total,motivo,valor_modificacion,fecha_emision_doc_sustento,num_doc_modificado,cod_doc_modificado,codigo_principal,codigo_auxiliar,descripcion,codigo_qb,descripcion_qb,cantidad,precio_unitario,descuento,total_sin_impueto,total_con_impuesto" />
    <add key="url_sri" value="https://cel.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantes?wsdl" />
    <add key="separador_campos_csv" value="," />
    <add key="separador_lineas_csv" value=";" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.10.0" newVersion="5.5.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>